.container {
	width: 70%;
	margin: 10px auto;
}

.btn {
	margin-top: 40px;
}
#btn1,
#btn2,
#btn3 {
	padding: 10px;
	width: 7rem;
}

#btn1 {
	background-color: rgb(126, 216, 216);
}

#btn2 {
	background-color: rgb(178, 187, 236);
}

#btn3 {
	background-color: rgb(246, 94, 94);
}
